 .header1{
  background-color:#70b6f0;
 }
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px;
  background-color: transparent;
  
}
.home{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  font-size: 20px;
  
}
.nav-links{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  margin-right: 20px;
  font-size: 20px;
}
.nav-links li a ,.home li a{
  text-decoration: none;
  color: rgb(235, 221, 221);
}
.home li a:hover{
   cursor: pointer;
   color: gray;
}
.nav-links li a:hover{
   cursor: pointer;
   color: gray;
}
 
.joinus {
  color: #70B6F0;  
  background-color: rgb(255, 255, 255); 
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  margin-left: 10px;
}
.joinus:hover{
  cursor: pointer;
}

.home-section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 90px;
  padding-left: 90px;
 
}
 
.home-section-p{
  font-size: 24px;
  color: white;
  padding-right: 90px;
  padding-left: 90px;
  text-align: justify;
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.half-circle-upar {
  width: 100px;
  height: 50px;  
  background-color: rgb(168, 165, 165); 
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}
.half-circle-lower {
  width: 100px;
  height: 50px;  
  background-color: rgb(168, 165, 165); 
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  rotate: 180deg;
}


.home-second{
  width: 450px;
  height: 450px;
  margin-left: 250px;
  background-color: black;
  border-radius: 4px;

}
.home-first{
  width: 60%;
}
.home-first h1{
  margin: 0;
  font-size: 80px;
  color: white;
}
.home-first h2{
  margin: 14px;
  font-style: italic;
  font-size: 60px;
  color: rgb(224, 231, 91);
  font-family: 'Didot';
}
.home-first h3{
  
  font-size: 60px;
  color: rgb(186, 239, 64);
  font-style: italic;
}
.btn{
  background: white;
  border-radius: 30px;
  border: none;
  padding: 15px;
  font-size: 20px;
}
.btn:hover{
  padding-left: 30px;
  padding-right: 30px;
  background: rgba(248, 248, 246, 0.536);
}
.about-section{
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
  
}
.aboutus{
  width: 400px; 
  padding-top: 27px;
}
.aboutus h2{
   font-size: 29px;
  color: #656565;
  margin: 0px;
}
.aboutpart{
  color: gray;
  width: 600px;
  padding-left: 100px;
}
.aboutpart h1{
  font-size: 30px;
  font-style: italic;
  font-weight: 500;
  color: #656565;
}
 .aboutpart-para{
  padding-left: 20px;
  width: 1220px;
 }
.aboutpart-p{
  /* margin-left: 20%; */
  font-size: 24px;
  font-weight: 400;
  color: #656565;
  
}
.p2{
  
  color: gray;
  margin-bottom: 30px;
  font-size: 20px;
}
.p3{
   
  color:#70b6f0;
  text-decoration: underline;
}
 
.services{
   display: flex;
   justify-content: space-evenly;
   margin: 20px;

    
}
 
.services1{
  margin-left: 60px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  width: 500px;
  height: 520px;
  border-radius: 1px;
  overflow: hidden;
  background-color: aliceblue;;
  
}
.services1 h2{
  color: rgb(75, 74, 74);
  font-weight: 500;
  font-size: 30px;
}

.services1 h3{
  color: gray;
  font-size: 24px;
}
.services1 p{
  font-size: 23px;
  color: #656565;
}
.services1 ul li{
  font-size: 20px;
  padding: 10px;
  color: #656565;
}
.main-service{
  padding-left: 150px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 1720px;
  /* border: 1px solid bisque; */
}
 
.text-parts{
  border: 1px solid black;
  background: 
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('Img/agrp.jpg');
  background-size: cover;
  background-position: center;
  opacity: 10px;
  color: white;
  text-align: center;
  margin-bottom: 30px;
  background-color: (0,0,0,2);
  padding: 200px;
   
}
.text-parts h1{
  font-size: 50px;
  margin: 0;
}
.text-parts h3{
  font-size: 40px;
  margin: 0;
  color: yellow;
  font-style: italic;
  font-family: 'Didoni';
}
.text-parts p{
  font-size: 24px;
  padding-left: 250px;
  padding-right: 250px;
}
 
.btn-class{
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  
}
.btn-class{
   margin: 40px;
   gap: 20px;
}
.btn1{
  border-radius: 20px;
  padding: 10px 40px;
  font-size: 20px;
  color: #70B6F0;
  border: none;
}
.btn2{
  border-radius: 20px;
  padding: 10px 40px;
  font-size: 20px;
  color: #ffffff;
  background: transparent;
  border: 1px solid white;
  
}
 
.underline {
  margin-top: 6px;
  margin-bottom: 6px;
  display: block;  
  width: 100%;  
  height: 2px;  
  background-color: #e4e6ea; 
  
}
.thirdpart{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  background-color: aliceblue;

}
.third-section {
  border: 1px solid black;
  height: 60vh;  
  width: 50%; 
  background: 
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('Img/agrp.jpg');
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;
    
}
.third-section p{
  color: white;
  font-size: 40px;
  margin-top: 300px;
  margin-left: 30px;
}
.third-section2{
  margin: 30px;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  
}
.third-section2 h3{
  color: rgb(88, 86, 86);
  font-size: 24px;
}
.third-section2 span{
  margin-right: 40px;
}
.third-section2 p{
  color: rgb(110, 108, 108);
  font-size: 20px;
}
.check-circle{
  display: flex;
}
.check-circle img{
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.our{
  margin-bottom: 100px;
  width: 340px;
  margin-left: 20px;
}
.ourpartner{
  font-size: 25px;
  color: #656565;
  margin: 1px;
}
.partner{
   text-align: center;
}
.part{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.part img{
  width: 50px;
  height: 40px;
}
.fourthsection{
  margin-top: 140px;
}
.fourthsection h3{
  margin-left: 20px;
}
.mainartical{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  margin-bottom: 120px;
}
.artical{
  width: 100%;
  height: 100%;
  /* border: 1px solid gray; */
  margin: 30px;
  background-color: aliceblue;
 
}
.newimg{
  width: 100%;
  height: 34vh;
}
.articles-div{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  
}
.articles-div p{
  font-size: 26px;
  color: #656565;
}
.news{
   padding: 10px;
}
.news h2{
  color: #585757;
}
.article-p{
  font-size: 25px;
  color:   #A1A1A1;
  ;
}
.footer{
  background: #70B6F0;
  padding: 20px;
}
.footermain{
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
}
 .footericon{
  margin-top: 30%;
 }
.footericon img{
  width: 50px;
  height: 50px;
  margin: 10px;
}
.footermain h4{
  font-size: 26px;
  color: white;
}
.footerlogo{
  width: 900px;
}
 
.footerlogo p{
  font-size: 60px;
  color: white;
  font-style: italic;
}
.footerdetails ul{
  padding: 0;
}
.footerdetails ul li{      
       list-style-type: none;
       font-size: 23px;
       padding: 2px;   
}
.footerdetails ul li a{      
      text-decoration: none;
      color: white; 
}
.footerdetails h4{
  margin: 0;
  margin-top: 50px;
}

.footer-address{
  display: flex;
  gap: 20px;
}
.footer-address p{
  width: 50%;
  color: white;
  
  /* padding-left: 10px; */
}
.underline-page{
  margin-top: 4px;
  margin-bottom: 6px;
  display: block;  
  width: 70%;   
  border: 1px solid #EECD20; 
}
/*............................ service page css................. */
.header2{
  background: 
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('Img/agrp.jpg');
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;  
  height: 80vh;
}
.textbox{
  margin-left: 85px;
  margin-top: 400px;
}
.textbox h1{
  margin: 0;
}
.textbox h3{
  margin: 0;
}

.cardip-text{
  color: rgb(93, 90, 90);
  padding-left: 250px ;
  padding-right: 250px;
  font-size: 20px;
}

.card-ir{
  display: flex;
  justify-content: space-between;
  margin: 40px;
  margin-top: 0px;
}
.card-irfirstdiv{
  margin: 40px;
  width: 650px;
}
.card-irfirstdiv h1{
   color: rgb(93, 90, 90);
   font-size: 30px;
}
.card-irfirstdiv img{
    width: 180px;
}
.card-irseconddiv{
  margin: 40px;
  padding: 30px;
  color: rgb(93, 90, 90);
   
}
.card-irseconddiv p{
  font-size: 22px;
}
.card-irseconddiv ul li{
  margin-bottom: 20px;
  font-size: 22px;
}
/*...................... about us page css............... */
 
.joinabout{
  border: 1px solid #70b6f0;
}
 
.home-section-about{
     display: flex;
     justify-content: space-between;
     align-items: center;
      
}
.home-about li a , .nav-linksabuot li a{
  color: #70b6f0;
}
.home-first-about p{
  font-size: 40px;
  padding-right: 40px;
  padding-left: 60px;
  color: #70b6f0;
}
.home-first-about p span{
   color: rgb(226, 226, 4);
}

.home-second-about img{
  width: 350px;
  height: 350px;
}
.about-pic {
  width: 100%;
  height: 80vh;
  overflow: hidden;
 
}

.about-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
.about-main{
  display: flex;
  justify-content: space-between;
   
}
.about-main-second{
  width: 80%;
  padding: 40px;
  padding-top: 80px;
  background-color: #70b6f0;
   
}
.about-p-first{
  margin-left: 50px;
  font-size: 24px;
  color: white;
}
.about-p{
  margin-left: 50px;
  font-size: 20px;
  color: white;
}
.about-main-third{
  margin: 0;
  width: 100%;
  height: 20vh;
  background-color: #70b6f0;
}
.about-main-third-p{
  color: white;
  font-size: 30px;
  width: 500px;
  margin-top: 0px;
  padding: 20px;
}
.about-card{
  display: flex;

}
.about-card-pic {
  margin: 20px;
  height: 60vh;
  width: 1300px;
}
.about-card-pic img{
  width: 100%;
  height: 60vh;
}
.about-card-text{
  width: 1800px;
  margin-right: 40px;
}
.about-card-text h3{
  margin: 0;
  margin-top: 20px;
  color: rgb(80, 78, 78);
  font-size: 23px;
}
.about-card-text-p{
  padding: 40px;
  padding-right: 80px;
  color: rgb(80, 78, 78);
  font-size: 24px;
  text-align: justify;
 }
.team-card{
  width: 100%;
  /* height: 300px; */
  /* border: 1px solid black; */
  margin: 10px;
   
}
.team-card-pic{
  background: 
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('Img/grp.jpg');
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
}
 
.team-card-text{
  padding: 10px;
}
.team-card-text h3{
  color: #656565;
}
.team-card-text p{
   color: #A1A1A1;
}
.team-card-text-p{
  margin: 0px;
}
.team-card-text h3{
  margin: 0px;
}
 
.team{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.team h3{
  width: 200px;
  font-size: 36px;
  color: gray;
  margin: 0;
}
.team h2{
  width: 400px;
  font-size: 40px;
  font-style: italic;
  color: gray;
}
.team-p{
  width: 1090px;
  font-size: 24px;
  color: #656565;
}
.teamcard-section{
  margin-left: 40%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15%; 
}

/*--------------------------- media css query--------------------- */
@media screen and (max-width: 1630px){
  .services1{
    padding: 20px;
    width: 350px;
    height: 330px; 
  }
  .services1 h2{
    font-weight: 300;
    font-size: 22px;
  }
  
  .services1 h3{
    font-size: 20px;
  }
  .services1 p{
    font-size: 16px;
     
  }
  .services1 ul li{
    font-size: 16px;  
  }
}

 
 

 
@media screen and (max-width: 1430px) {
  .home-second{
    width: 330px;
    height: 330px;
  }
  .home-section-p{
    font-size: 16px;
     
  }
  .aboutus h2{
    font-size: 20px;
 }
 .aboutpart h1{
   font-size: 24px;
 }
 
 .aboutpart-p{
   font-size: 16px;
   font-weight: 300;
 }
 .p2{
    font-size: 16px;
 }
  .services1{
    padding: 20px;
    width: 300px;
    height: 330px; 
  }
  .services1 h2{
    font-weight: 300;
    font-size: 22px;
  }
  
  .services1 h3{
    font-size: 20px;
  }
  .services1 p{
    font-size: 16px;
     
  }
  .services1 ul li{
    font-size: 16px;  
  }
  .third-section2 p{
    color: rgb(110, 108, 108);
    font-size: 16px;
  }
  .third-section2 h3{
    font-size: 20px;
  }
  .ourpartner{
    font-size: 20px;
  }
  .articles-div p{
    font-size: 16px; 
  }
  .article-p{
    font-size: 16px;
  }
  .text-parts h1{
    font-size: 40px;
    margin: 0;
  }
  .text-parts h3{
    font-size: 30px;
    font-style: italic;
    
    /* font-family: Didot; */
  }
  .text-parts p{
    font-size: 16px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .footerlogo p{
    font-size: 60px;
    color: white;
    font-style: italic;
  }
  .footermain h4{
    font-size: 20px;
  }
 
  .footerdetails ul li{ 
         font-size: 16px;   
  }
  /*--------------------- service page ----------- */
  .textbox{
    margin-left: 85px;
    margin-top: 200px;
  }
  .textbox h1{
    font-size: 40px;
  }
  .textbox h3{
    font-size: 40px;
  
  }
  .cardip-text{
    font-size: 16px;
  }
  .card-irfirstdiv h1{
    font-size: 20px;
  }
  .card-irseconddiv p{
    font-size: 16px;
  }
  .card-irseconddiv ul li{
    margin-bottom: 20px;
    font-size: 16px;
  }
  /* ----------------------about us ----------------- */
  .about-p-first{
    font-size: 20px;
  }
  .about-p{
    font-size: 16px;   
  }
  .about-card-text-p{
    font-size: 16px;
  }
  .team h3{
  width: 200px;
  font-size: 20px;
}
.team h2{
  width: 200px;
  font-size: 20px;
}
.team-p{
  width: 640px;
  font-size: 16px;
}
}

@media screen and (max-width: 1100px){
  .home-second{
    width: 230px;
    height: 230px;
  }
  .home-first h1{
    font-size: 30px;
  }
  .home-first h2{
    font-size: 28px;
  }
  .services1{
    padding: 20px;
    width: 200px;
    height: 230px; 
  }
  .services1 h2{
    font-weight: 300;
    font-size: 18px;
  }
  
  .services1 h3{
    font-size: 16px;
  }
  .services1 p{
    font-size: 12px;
     
  }
  .services1 ul li{
    font-size: 12px;  
  }

}