 .header1{
  background-color:#70b6f0;
 }
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}
.home{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  font-size: 20px;
  
}
.nav-links{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 30px;
  margin-right: 20px;
  font-size: 20px;
}
.nav-links li a ,.home li a{
  text-decoration: none;
  color: rgb(235, 221, 221);
}
.home li a:hover{
  padding: 5px;
  background: rgba(248, 248, 246, 0.536);
  border-radius: 20px;
}
.nav-links li a:hover{
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  background: rgba(248, 248, 246, 0.536);
  border-radius: 20px;
}
.joinus{
  background: white;
  border-radius: 20px;
  padding: 8px;
}
.home-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  height: 80vh;
  

}
.home-second{
  width: 250px;
  height: 250px;
  margin-right: 50px;
  background-color: black;

}
.home-first{
  width: 60%;
}
.home-first h1{
 
  font-size: 80px;
  color: white;
}
.home-first h3{
  
  font-size: 60px;
  color: rgb(186, 239, 64);
  font-style: italic;
}
.btn{
  background: white;
  border-radius: 30px;
  border: none;
  padding: 15px;
  font-size: 20px;
}
.btn:hover{
  padding-left: 30px;
  padding-right: 30px;
  background: rgba(248, 248, 246, 0.536);
}
.about-section{
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}
.aboutus{
  width: 70%;
}
.aboutpart{
  margin-left: 20px;
  margin-right: 20px;
  color: gray;
}
.p2{
  color: gray;
  margin-bottom: 30px;
}
.p3{
  color:#70b6f0;
}
 
.services{
   display: flex;
   margin: 20px;
    
}
.services1{
  margin-left: 60px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  width: 300px;
  height: 320px;
  border-radius: 1px;
  overflow: hidden;
  background-color: aliceblue;;
  
}
.services1 h2{
  color: rgb(75, 74, 74);
}
.services1 h3{
  color: gray;
}
.main-service{
  width: 200%;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid bisque; */
}
 
.text-parts{
  width: 100%;
  border: 1px solid black;
  height: 50vh;
  background: 
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('Img/gp.jpg');
  
  background-size: cover;
  background-position: center;
  opacity: 10px;
  color: white;
  text-align: center;
  margin-bottom: 30px;
  background-color: (0,0,0,2);

  
}
.btn-class{
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  
}
.btn-class button{
  margin: 20px;
  font-size: 20px;
  padding: 10px;
  border-radius: 30px;
  
}
.btn1{
  background: transparent;
  border: 2px solid white;
  color: white;
}
 
.underline {
  margin-top: 4px;
  margin-bottom: 6px;
  display: block;  
  width: 80%;  
  height: 2px;  
  background-color: #e4e6ea; 
  
}
.underline1 {
  display: block;  
  width: 85%; 
  height: 2px;  
  background-color: #e4e6ea;  
  
}
.thirdpart{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;

}
.third-section {
  border: 1px solid black;
  height: 60vh;  
  width: 50%; 
  background: 
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('Img/teacher.jpg');
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;  
}
.third-section p{
  color: white;
  font-size: 30px;
  margin-top: 300px;
  margin-left: 30px;
}
.third-section2{
  margin: 30px;
  padding: 30px;
  background-color: aliceblue;
  
}
.third-section2 h3{
  color: rgb(88, 86, 86);
}
.third-section2 span{
  margin-right: 40px;
}
.third-section2 p{
  color: rgb(110, 108, 108);
}
.check-circle{
  display: flex;
}
.check-circle img{
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.ourpartner{
  margin-left: 20px;
  margin-bottom: 50px;
}
.partner{
   text-align: center;
}
.part{
  display: flex;
  justify-content: center;
  align-items: center;
}
.part img{
  width: 50px;
  height: 40px;
  
}
 
.underline2 {
  display: block;  
  width: 100%;  
  height: 2px;  
  background-color: #e4e6ea;  
  
}
.fourthsection{
  margin-top: 140px;
}
.fourthsection h3{
  margin-left: 20px;
}
.mainartical{
  display: flex;
}
.artical{
  width: 300px;
  height: 300px;
  border: 1px solid gray;
  margin: 30px;
  background-color: aliceblue;
}
.newimg{
  width: 100%;
  height: 27vh;
  
}
.news{
   padding: 10px;
}
.footer{
   
  background-color: #61dafb;
  /* text-align: center; */
  padding: 20px;
  height: 50vh;
}
.footermain{
  display: flex;
  justify-content: space-evenly;
}
.footermain h4{
  color: white;
}
 
.footerlogo p{
  font-size: 60px;
  color: white;
  font-style: italic;
}
.footerdetails ul li{      
       list-style-type: none;   
}
.footerdetails ul li a{      
      text-decoration: none;
      color: white; 
}

.footer-address{
  display: flex;
  
}
.footer-address p{
  width: 200px;
  color: white;
}
/*............................ service page css................. */
.header2{
  background: 
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('Img/gp.jpg');
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;  
  height: 80vh;
}
 
 
.cardip-text{
  
  color: rgb(93, 90, 90);
  padding-left: 250px ;
  padding-right: 250px;

}

.card-ir{
  display: flex;
  justify-content: space-between;
  margin: 40px;
  margin-top: 0px;
}
.card-irfirstdiv{
  margin: 40px;
  width: 650px;
}
.card-irfirstdiv h1{
   color: rgb(93, 90, 90);
   font-size: 30px;
}
.card-irfirstdiv img{
    width: 180px;
}
.card-irseconddiv{
  margin: 40px;
  padding: 30px;
  color: rgb(93, 90, 90);
}
.card-irseconddiv ul li{
  margin-bottom: 20px;
}
/*...................... about us page css............... */
.headerabout{
   padding: 10px;
  
}
 
.home-section-about{
     display: flex;
     align-items: center;
      
}
.home-about li a , .nav-linksabuot li a{
  color: #70b6f0;
}
.home-first-about p{
  font-size: 40px;
  padding-right: 40px;
  padding-left: 20px;
  color: #70b6f0;
}
.home-first-about p span{
   color: yellowgreen;
}

.home-second-about img{
  width: 350px;
  height: 350px;
}
.about-pic {
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.about-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Crop and fit */
}
.about-main{
  display: flex;
  justify-content: space-between;
   
}
.about-main-second{
  width: 800px;
  padding: 40px;
  padding-top: 80px;
  background-color: #70b6f0;
   
}
.about-p-first{
  font-size: 24px;
  color: white;
}
.about-p{
  font-size: 15px;
  color: white;
}
.about-main-third{
  margin: 0;
  width: 100%;
  height: 20vh;
  background-color: #70b6f0;
}
.about-main-third-p{
  color: white;
  font-size: 30px;
  width: 500px;
  margin-top: 0px;
  padding: 20px;
}
.about-card{
  display: flex;

}
.about-card-pic {
  margin: 20px;
  height: 60vh;
  width: 1300px;
}
.about-card-pic img{
  width: 100%;
  height: 60vh;
}
.about-card-text{
  width: 1800px;
}
.about-card-text h3{
  color: rgb(80, 78, 78);
}
.about-card-text-p{
  padding: 50px;
  color: rgb(80, 78, 78);
 }
.team-card{
  width: 240px;
  height: 300px;
  /* border: 1px solid black; */
  margin: 10px;
   
}
.team-card-pic{
  background: 
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('Img/grp.jpg');
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
}
 
.team-card-text{
  padding: 10px;
}
.team-card-text p{
   color: rgb(86, 80, 80);
}
.team-card-text-p{
  margin: 0px;
}
.team-card-text h3{
  margin: 0px;
}
 
.team{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  gap: 180px;
}
.team h3{
  font-size: 20px;
  color: gray;
}
.team h2{
  font-style: italic;
  color: gray;
}
.teamcard-section{
  margin-left: 450px;
  display: flex;
  height: 90vh;
}